In [2]:
import pandas as pd
import os
from langdetect import detect, detect_langs

In [1]:
DATA_FOLDER = "data/tweets/ten_years"

We will add a coulumn to every dataframe that indicates the language of the tweet.

In [13]:
tweet_csv = "pncbank_tweets.csv"
file_path = f"{DATA_FOLDER}/{tweet_csv}"
pnc_df = pd.read_csv(file_path, lineterminator='\n')
pnc_df = pnc_df.drop("language", axis=1)
pnc_df.to_csv(file_path)

/usr/lib/python3.10/site-packages/pandas/core/internals/blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

In [23]:
def clean_text(text: str) -> str:
    return ''.join(filter(lambda x: x.isalpha() or x.isspace(), text))

In [24]:
for comp_csv in os.listdir(DATA_FOLDER)[:5]:
    print(f"Updating languages for {comp_csv}")
    file_path = f"{DATA_FOLDER}/{comp_csv}"
    df = pd.read_csv(file_path, lineterminator='\n')
    
    df["language"] = df.apply(lambda row: detect(clean_text(row.text)), axis=1)
    df.to_csv(file_path)

Updating languages for pncbank_tweets.csv

/usr/lib/python3.10/site-packages/pandas/core/internals/blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

Updating languages for teradyneinc_tweets.csv
Updating languages for bakerhughesco_tweets.csv
Updating languages for ceridian_tweets.csv
Updating languages for aiginsurance_tweets.csv

We also create a dataframe of tweets that are not in English to inspect.

In [6]:
import numpy as np

sample_df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])

In [7]:
sample_df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [10]:
sample_df = sample_df.drop("A", axis=1)

In [11]:
sample_df

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11